.navbar-toggler
	margin-top: 10px
.navbar
	visibility: visible
	background: #1c1c25d0
	position: fixed
	z-index: 3
	width:100%
	&-brand
		size: 250px
.nav-
	&link
		color: #aaaaaa
	&item
		padding: 0 20px
	.dropdown-item
		&:active
			background-color: #22222ee5	